@font-face {
  font-family: 'Actay';
  src: url('../fonts/Actay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ActayWide';
  src: url('../fonts/ActayWide-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ActayCondensed';
  src: url('../fonts/ActayCondensed-Thin.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

